server:
  port: 8084
  error:
    include-message: always

spring:
  application:
    name: api

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    connection-timeout: 10s
    requested-heartbeat: 30
    template:
      retry:
        enabled: true
        initial-interval: 1000
        multiplier: 2
        max-attempts: 10

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.amqp: INFO