# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Nuxt
.nuxt/
.output/
.cache/
dist/
*.local

# Environment
.env
.env.*
!.env.example

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp

node_modules
.nuxt
.output
dist
.cache
.DS_Store
.git