server:
  port: 8085

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.default_schema: trading

  flyway:
    enabled: true
    baselineOnMigrate: true
    createSchemas: true
    schemas: trading
    table: flyway_trading_history

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    connection-timeout: 10s
    requested-heartbeat: 30
    template:
      retry:
        enabled: true
        initial-interval: 1000
        multiplier: 2
        max-attempts: 10
    listener:
      simple:
        acknowledge-mode: auto
        concurrency: 1
        max-concurrency: 5

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.amqp: INFO