server:
  port: 8085

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.default_schema: trading

  flyway:
    enabled: true
    baselineOnMigrate: true
    createSchemas: true
    schemas: trading
    table: flyway_trading_history

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: ${RABBITMQ_DEFAULT_USER}
    password: ${RABBITMQ_DEFAULT_PASS}
    listener:
      simple:
        acknowledge-mode: auto
        concurrency: 1
        max-concurrency: 5

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.amqp: INFO
